// variable (화면크기 ~)
$bgColor: lightblue;

$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1200px;

// :root {
//   --bgColor: red;
// }

// @extend 스타일링 세팅
// %msgBox {
//   margin: 20px;
//   padding: 10px 20px;
//   border-radius: 10px;
//   border: 1px dashed black;
// }

// @extend %msgBox;

// Mixin은 include문법으로 함수처럼 값(value)을 통해 인자(argument)사용
@mixin msgBox($bgColor, $borderColor) {
  background-color: $bgColor;
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px dashed $borderColor;
  @content;
}

@mixin smDevice {
  @media screen and (min-width: $breakpoint-sm) {
    @content;
  }
}
@mixin mdDevice {
  @media screen and (min-width: $breakpoint-md) {
    @content;
  }
}
@mixin lgDevice {
  @media screen and (min-width: $breakpoint-lg) {
    @content;
  }
}
@mixin xlDevice {
  @media screen and (min-width: $breakpoint-xl) {
    @content;
  }
}

body {
  /* position: relative; */
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-decoration: none;
  font-style: inherit;
  color: inherit;
  list-style: none;
}

.flex_container {
  display: flex;
  height: 100vh;
  column-gap: 10px;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  flex-flow: row wrap;
  /* align-content: center; */
  background-color: $bgColor;
  .flex_box {
    order: 0;
    width: 200px;
    height: 200px;
    background-color: tomato;
    color: white;
    font-size: 36px;
    text-align: center;
    li {
      font-size: 12px;
    }
    &:first-child {
      flex-shrink: 0;
      background-color: red;
    }
    &:nth-child(2) {
      flex-shrink: 1;
      background-color: darkred;
    }
    &:nth-child(3) {
      flex-shrink: 3;
      background-color: rgb(83, 0, 0);
    }
    &:nth-child(4) {
      align-self: flex-end;
    }
    &:nth-child(4) {
      background-color: darkkhaki;
      order: -1;
    }
    &:hover {
      width: 210px;
      height: 210px;
    }
  }

  .flex_box:nth-child(6) {
    background-color: olive;
    order: 6;
  }
}
.grid_container {
  background-color: blanchedalmond;
  height: 100vh;
  display: grid;
  /* grid-template-columns: [happy] 1fr [lunch] 2fr [box] 1fr [gift];
  grid-template-rows: [won] 200px [en] 60px [doller]; */
  /* grid-template-columns: repeat(5, 200px); */
  /* grid-template-columns: 1fr minmax(100px, 1fr) 1fr 1fr 1fr; */
  grid-template-columns: repeat(auto-fill, minmax(100px, 200px));
  /* grid-template-rows: repeat(2, 200px); */
  /* row-gap: 10px;
  column-gap: 20px; */
  gap: 10px;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  .grid_box {
    background-color: steelblue;
    color: white;
    text-align: center;
    align-content: center;
    width: 200px;
    height: 200px;
    &:first-child {
      background-color: indianred;
      align-self: start;
      justify-self: start;
    }
    &:nth-child(8) {
      background-color: blueviolet;
      place-self: center center;
      grid-column: span 2;
    }
  }
}

.msg_container {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  @include smDevice {
    background-color: skyblue;
  }
  @include mdDevice {
    background-color: burlywood;
  }
  @include lgDevice {
    background-color: brown;
  }
  @include xlDevice {
    background-color: blueviolet;
  }


  .success_msg {
    // @extend %msgBox;
    @include msgBox(olive, white);
    color: white;
  }
  .error_msg {
    // @extend %msgBox;
    @include msgBox(rgb(87, 105, 42), white);
    font-weight: 400;
  }
  .warning_msg {
    // @extend %msgBox;
    @include msgBox(greenyellow, white);
    text-transform: uppercase;
  }
}
